@import "../../sass/importMixins.scss";

.pr-page__about {

    @include mx-flex();
    @include mx-flex-center();

    padding: 50px 0;

    span {
        display: block;
        font-size: 1em;
        margin-bottom: 30px;
    }

}

.pr-about__content{
    width: 100%;
    max-width: 700px;
    @include mx-flex();
    @include mx-flex-row();
    @include mx-flex-align-start();
    gap:40px;
    p {
        font-size: 0.9em;
        margin: 5px 0;
        text-align: justify;
    }
}

.pr-photo {
    border-radius: 20px;
    max-width: 140px;
    margin-top: 0;
}