@import "../../sass/importMixins.scss";

.pr-page__editPost {

    @include mx-flex();
    @include mx-flex-center();

    padding: 20px 0;

    span {
        display: block;
        font-size: 1em;
        margin-bottom: 30px;
    }

}

.pr-editPost__content{
    width: 100%;
    @include mx-flex();
    @include mx-flex-column();
    @include mx-flex-center();
    gap:40px;

    img{
        border-radius: 15px;
        max-width: 400px;
    }
}

form{
    width: 500px;
}