@import "../../sass/importMixins.scss";

.pr-page__register {

    @include mx-flex();
    @include mx-flex-column();
    @include mx-flex-center();

    padding: 30px 0;

    .pr-register__content {
        width: 100%;
        max-width: 500px;
        @include mx-flex();
        @include mx-flex-column();
        gap: 10px;
    }

    h1,
    form {
        width: 100%;
    }

    p {
        margin: 0;
        margin-bottom: 20px;
    }

}